/*index html styling*/

ul .topnav {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    list-style-type: none;
}

ul#mytopnav {
	list-style-type: none;
}

ul.topnav li {
	float: left;
}

ul.topnav li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

li a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    display: inline-block;
}

div {
	text-align: center;
	/*font-famly: "Lucida Console", Monaco, monospace;*/
	font-family: 'Dosis', sans-serif;
}

h1{
	font-family: Arial;
	font-weight:20px;
}

/*photos html styling*/

/*@media all and (min-width: 961px) and (max-width: 481px){
	body {
		background: #000;
	}
}*/

.imagegallery img {
	width: 350px;
    height: 300px;
}



